
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.library-background {
    background-image: url('wizard_background.png');
    /* background-size: cover; */
    background-position: center; /* Center the background image */
    position: relative;
    width: 100%;
    height: 100%;
}

#wizardAvatar {
    position: absolute;
    /* Set appropriate size and position */
}

.book {
    width: 150px;
    height: 50px;
    background-color: rgb(87, 56, 18);
    border-radius: 10px;
    border-color: rgb(72, 32, 11);
    position: relative;
    left: 5%;
    top: 50%;
    border: 3px solid rgb(72, 32, 11);
    /* Set appropriate size and position */

    /* Add more styling and positioning */
}

.button {
    width: 100px;
    height: 50px;
    background-color: rgb(191, 175, 155);
    border-radius: 15px;
    border-color: rgb(80, 34, 204);
    position: absolute;
    /* left: 5%;
    top: 50%;
    border: 3px solid rgb(72, 32, 11); */
    /* Set appropriate size and position */

    /* Add more styling and positioning */
}

.cv-details {
    position: center;
    color: rgb(191, 175, 155);
    font-size: 20px;
    /* Style for CV details popup */
}

/* .magic-link {
    /* Style for LinkedIn and GitHub links 
} */
    